::-moz-selection{background:transparent;}
::selection{background:transparent;}

*{
	margin:0;
	padding:0;
}
html,body{
	height:100%;
	background: #004358;
	color: #004358;
}
.wrapper{
	display: flex;
	flex-direction: column;

	width:80%;
	height:100%;

	margin:auto;

	background: #1F8A70;
}

.checkboard{
	width: 500px;
	height: 500px;
}

.grid-square{
	display: flex;
	float:left;
	background: #004358;
	color: #1F8A70;
	font-size: 32pt;

	box-shadow: 0 0 0px 5px #1F8A70,
				inset 0 0 0px 0px #1F8A70;;

	transition: 45ms ease-in;
}

@keyframes fadein{
	from {opacity:0;}
	to   {opacity:1;}
}

.grid-square .field{
	animation: fadein 185ms;
}
.grid-square:active{
	box-shadow: 0 0 0px 5px #1F8A70,
				inset -2px -2px 0px 15px #1F8A70;

	font-size:28pt;
}
.grid-square:nth-of-type(1){
	border-radius:20px 0 0 0;
}
.grid-square:nth-of-type(3){
	border-radius:0 20px 0 0;
}
.grid-square:nth-of-type(7){
	border-radius:0 0 0 20px;
}
.grid-square:nth-of-type(9){
	border-radius:0 0 20px 0;
}

.messages,
.bottom{
	height:33%;
}

.messages h1,
.bottom h2{
	animation: fadein 185ms;
}

.flex-center{
	display:flex;
	justify-content: center;
	align-items: center;
}
